.container
    .content
        header.page-header
            h1 City Bug
                small.subtitle bug around the world
        article.row
            .span14
                h2 Entry list
                - if (entry.length)
                    table.zebra-striped
                        thead
                            tr
                                th Title
                                th Thumbnail image
                                th Full image
                                th Latitude
                                th Longitude
                                th Note
                                th Categories
                        tbody
                        - entry.forEach(function(entry){
                            - var thumbnail_image_path = "./images/" + entry.thumbnail_image;
                            - var full_image_path = "./images/" + entry.full_image;
                            tr
                                td= entry['title']
                                td
                                    img(src="#{thumbnail_image_path}")
                                td
                                    img(src="#{full_image_path}")
                                td= entry['latitude']
                                td= entry['longitude']
                                td= entry['note']
                                td= entry['categories']
                        - })
                - else
                    p No registered members yet.
    
        form(action='/', method='post')
            fieldset
                label(for="title") Title
                .input
                    input(type='text', id='title', name='title')
                label(for="thumbnail_image") Thumbnail image
                .input
                    input(type='file', id='thumbnail_image', name='thumbnail_image')
                label(for="full_image") Full image
                .input
                    input(type='file', id='full_image', name='full_image')
                label(for="latitude") Latitude
                .input
                    input(type='text', id='latitude', name='latitude')
                label(for="longitude") Longitude
                .input
                    input(type='text', id='longitude', name='longitude')
                label(for="note") Note
                .input
                    input(type='text', id='note', name='note')
                label(for="categories") Categories
                .input
                    input(type='text', id='categories', name='categories')
            fieldset
                .actions
                    input(type='submit', value="Save")
    footer
        p &copy; <a href="http://jtlebi.fr/">Jean-Tiare LE BIGOT</a> 2011 - GPL 2.0