.container
    .content
        header.page-header
            h1 City Bug
                small.subtitle bug around the world
        script

            var socket = io.connect();
            socket.on('connect', function () {
            });
            socket.on('user message', function(report) {
                addRow(reportModel);
            });
            function sendMessage() {
                socket.emit('user message');
            }
            function addRow(report) {
                if (!document.getElementsByTagName) 
                    return;
                var tabBody=document.getElementById("reporttable");
                var row=document.createElement("TR");

                var cellTitle = document.createElement("TD");
                var cellThumbnailImage = document.createElement("TD");
                var cellFullImage = document.createElement("TD");
                var cellLatitude = document.createElement("TD");
                var cellLongitude = document.createElement("TD");
                var cellNote = document.createElement("TD");
                var cellCategories = document.createElement("TD");
                var cellDate = document.createElement("TD");

                var textnodeTitle=document.createTextNode(report['title']);
                var thumbnailImage=document.createElement('img');
                thumbnailImage.src = report['thumbnail_image'];
                thumbnailImage.width = 40;
                thumbnailImage.heigth = 40;
                var fullImage=document.createElement('img');
                fullImage.src =  report['full_image'];
                fullImage.width = 40;
                fullImage.heigth = 40;
                var textnodeLatitude=document.createTextNode(report['lat']);
                var textnodeLongitude=document.createTextNode(report['lng']);
                var textnodeNote=document.createTextNode(report['note']);
                var textnodeCategories=document.createTextNode(report['categories']);
                var textnodeDate=document.createTextNode(report['last_modified']);

                cellTitle.appendChild(textnodeTitle);
                cellThumbnailImage.appendChild(thumbnailImage);
                cellFullImage.appendChild(fullImage);
                cellLatitude.appendChild(textnodeLatitude);
                cellLongitude.appendChild(textnodeLongitude);
                cellNote.appendChild(textnodeNote);
                cellCategories.appendChild(textnodeCategories);
                cellDate.appendChild(textnodeDate);

                row.appendChild(cellTitle);
                row.appendChild(cellThumbnailImage);
                row.appendChild(cellFullImage);
                row.appendChild(cellLatitude);
                row.appendChild(cellLongitude);
                row.appendChild(cellNote);
                row.appendChild(cellCategories);
                row.appendChild(cellDate);
                tabBody.appendChild(row);
            }
        h2
            <a href="/add">Click here to test POST api</a>
        article.row
            .span14
                h2 report list
                table.zebra-striped
                    thead
                        tr
                            th Title
                            th Thumbnail image
                            th Full image
                            th Latitude
                            th Longitude
                            th Note
                            th Categories
                            th last modified
                    tbody#reporttable
                        - report.forEach(function(report){
                            tr.xx
                                td= report['title']
                                td
                                    img(src="#{report.thumbnail_image}", width = "40", heigth = "40")
                                td
                                    img(src="#{report.full_image}", width = "40", heigth = "40")
                                td= report['lat']
                                td= report['lng']
                                td= report['note']
                                td= report['categories']
                                td= report['last_modified']
                        - })