.container
    .content.span13
        header.page-header
            link(rel='stylesheet', href='/stylesheets/DT_bootstrap.css')
            script(text='text/javascript', src='/javascripts/jquery.dataTables.js')
            script(text='text/javascript', src='/javascripts/DT_bootstrap.js')
            h1 City Bug
                small.subtitle bug around the world
        article.row
            .span13
                h2 report list
                table.table.table-striped.table-bordered#example
                    thead
                        tr
                            th#sorting_asc Title
                            th#sorting Thumbnail image
                            th#sorting Full image
                            th#sorting Latitude
                            th#sorting Longitude
                            th#sorting Note
                            th#sorting Categories
                            th#sorting Resolved?
                            th#sorting Username
                            th#sorting email
                            th#sorting Place name
                            th#sorting Place lat
                            th#sorting Place lng
                            th#sorting Total join (imin)
                            th#sorting Who join
                            th#sorting Comments
                            th#sorting Last modified
                            th#sorting Create at
                    tbody
                        - report.forEach(function(report){
                            -   var allCat = "";
                            -   report['categories'].forEach(function(cat) {
                                -   allCat = allCat + cat.title + ",<br>"
                            -   });
                            -   allCat = allCat.substring(0, allCat.length-5);

                            -   var allIminUserName = "";
                            -   report['imins'].forEach(function(imins) {
                                -   allIminUserName = allIminUserName + imins.user.username + ",<br>"
                            -   });
                            -   allIminUserName = allIminUserName.substring(0, allIminUserName.length-5);

                            -   var allComment = "";
                            -   report['comments'].forEach(function(comments) {
                                -   allComment = allComment + comments.user.username + ": " + comments.text + ",<br>"
                            -   });
                            -   allComment = allComment.substring(0, allComment.length-5);

                            tr
                                td= report['title']
                                td
                                    img(src="#{report.thumbnail_image}", width = "40", heigth = "40", class="img-rounded")
                                td
                                    img(src="#{report.full_image}", width = "40", heigth = "40", class="img-rounded")
                                td= report['lat']
                                td= report['lng']
                                td= report['note']
                                td!= allCat
                                td= report['is_resolved']
                                td= report['user'].username
                                td= report['user'].email
                                td= report['place'].title
                                td= report['place'].lat
                                td= report['place'].lng
                                td= report['imin_count']
                                td!= allIminUserName
                                td!= allComment
                                td= report['last_modified']
                                td= report['created_at']
                        - })