.container
    .content.span13
        header.page-header
            h1 City Bug
                small.subtitle bug around the world
        article.row
            .span13
                h2 report list
                table.table-hover.table-bordered.table-condensed.table-striped
                    thead
                        tr
                            th Title
                            th Thumbnail image
                            th Full image
                            th Latitude
                            th Longitude
                            th Note
                            th Categories
                            th Resolved?
                            th Username
                            th email
                            th Place name
                            th Place lat
                            th Place lng
                            th Total join (imin)
                            td Who join
                            th Comments
                            th Last modified
                            th Create at
                    tbody
                        - report.forEach(function(report){
                            -   var allCat = "";
                            -   report['categories'].forEach(function(cat) {
                                -   allCat = allCat + cat.title + ",<br>"
                            -   });
                            -   allCat = allCat.substring(0, allCat.length-5);

                            -   var allIminUserName = "";
                            -   report['imins'].forEach(function(imins) {
                                -   allIminUserName = allIminUserName + imins.user.username + ",<br>"
                            -   });
                            -   allIminUserName = allIminUserName.substring(0, allIminUserName.length-5);

                            -   var allComment = "";
                            -   report['comments'].forEach(function(comments) {
                                -   allComment = allComment + comments.user.username + ": " + comments.text + ",<br>"
                            -   });
                            -   allComment = allComment.substring(0, allComment.length-5);

                            tr
                                td= report['title']
                                td
                                    img(src="#{report.thumbnail_image}", width = "40", heigth = "40", class="img-rounded")
                                td
                                    img(src="#{report.full_image}", width = "40", heigth = "40", class="img-rounded")
                                td= report['lat']
                                td= report['lng']
                                td= report['note']
                                td!= allCat
                                td= report['is_resolved']
                                td= report['user'].username
                                td= report['user'].email
                                td= report['place'].title
                                td= report['place'].lat
                                td= report['place'].lng
                                td= report['imin_count']
                                td!= allIminUserName
                                td!= allComment
                                td= report['last_modified']
                                td= report['created_at']
                        - })